In [1]:
#Excercise 1
print("Hello, Python!")

Hello, Python!

In [3]:
#Excercise 2
a = 22
b = 3

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Sum: 25
Difference: 19
Product: 66
Quotient: 7.333333333333333

In [4]:
#Excercise 3
name = "Ana" 
print(f"Hello, {name}!")

Hello, Ana!

In [5]:
#Excercise 4
Cities = ["Barcelona", "Monterrey", "MexicoCity", "London", "Madrid"]

print("List of Cities:", Cities)

print("First City:", Cities[0])

print("Last City:", Cities[-1])

List of Cities: ['Barcelona', 'Monterrey', 'MexicoCity', 'London', 'Madrid']
First City: Barcelona
Last City: Madrid

In [6]:
# Exercise 5
student = {
    "name": "Ana",
    "age": 23,
    "master": "MiBA"
}

for key, value in student.items():
    print(f"{key}: {value}")

name: Ana
age: 23
master: MiBA

In [7]:
# Exercise 6
coordinates = (5, 10)

print("Coordinates:", coordinates)

print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

Coordinates: (5, 10)
X-coordinate: 5
Y-coordinate: 10

In [ ]:
# Exercise 7
colors = {"red", "green", "blue"}

colors.add("purple")
colors.add("red")
print("Colors:", colors)


colors.remove("green")
print("Colors after removal:", colors)

# Create another set and merge with colors
light_colors = {"pink", "cyan", "white"}
all_colors = colors.union(light_colors)

# Print the merged set
print("Merged Colors:", all_colors)

In [8]:
# Exercise 8
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  5

The number is positive.

In [9]:
# Exercise 9
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)

1
2
3
4
5

In [10]:
# Exercise 10
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [11]:
# Exercise 11
grade = input("Enter a grade (A, B, C, D, F): ").upper()

match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid grade entered.")

Enter a grade (A, B, C, D, F):  B

Good job!

In [12]:
# Exercise 12
def greet(name):
    print(f"Hello, {name}!")

greet("Ana")

Hello, Ana!

In [13]:
# Exercise 13
def square(number):
    return number ** 2

print(square(4))  
print(square(7))  
print(square(10))

16
49
100

In [14]:
# Exercise 14
def multiply(a, b=1):
    return a * b

print(multiply(5, 3)) 
print(multiply(7))

15
7

In [15]:
# Exercise 15
numbers = list(range(1, 11))
squares = [x**2 for x in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Exercise 16
grades = {
    "Alice": [85, 90, 78],
    "Bob": [75, 80, 72],
    "Charlie": [88, 92, 85]
}

def print_average_grades(student_grades):
    for student, grades_list in student_grades.items():
        avg_grade = sum(grades_list) / len(grades_list)
        print(f"{student}'s average grade: {avg_grade:.2f}")

print_average_grades(grades)

Alice's average grade: 84.33
Bob's average grade: 75.67
Charlie's average grade: 88.33

In [17]:
# Exercise 17
def calculate(a, b, operator):
    if operator == '+':
        return a + b
    elif operator == '-':
        return a - b
    elif operator == '*':
        return a * b
    elif operator == '/':
        return a / b
    else:
        return "Invalid operator"

# Get user input
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
op = input("Enter the operator (+, -, *, /): ")

# Call the function and print the result
result = calculate(num1, num2, op)
print(f"The result is: {result}")

Enter the first number:  2
Enter the second number:  7
Enter the operator (+, -, *, /):  *

The result is: 14.0